li {
  list-style: none;
}
p {
  font-weight: 600;
}
a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

.footer-link {
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 3fr 2fr 2fr 2fr;
  padding: 40px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.footer-grid-two,
.footer-grid-three,
.footer-grid-four {
  text-align: right;
}
.footer-grid-one,
.footer-grid-two,
.footer-grid-three,
.footer-grid-four {
  display: inherit;
}
/*pricing*/
.price-header-img {
  background-image: url("./img/pricing.svg");
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: grid;
}
.price-header-name {
  margin-top: 4rem;
  font-size: 3rem;
}
.pricing-grid {
  max-width: 1300px;
  display: grid;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  grid-template-columns: repeat(3, 33.33%);
  grid-row-gap: 3rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  grid-auto-flow: row;
}

.pricing-grid-one {
  order: 0;
  margin-bottom: 0rem;
}

.pricing-content-one {
  padding: 2.5rem;
  margin: 1rem;
  border: 1px solid gray;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  height: min-content;
}
.pricing-content-one h3 {
  font-size: 2rem;
}
.pricing-content-one p {
  font-size: 1.25rem;
  font-weight: 400;
}
.pricing-content-one h4 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}
.grid-account {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1rem;
  border-radius: 9999px;
  background-color: blue;
  color: white;
  transition: all 0.1s ease-out;
  white-space: nowrap;
  cursor: pointer;
  justify-content: center;
  flex-direction: row;
  user-select: none;
  text-transform: capitalize;
  margin: auto;
}
.pricing-grid-two {
  margin-bottom: 0rem;
}
.pricing-content-two {
  padding: 2.5rem;
  margin: 1rem;
  border: 1px solid grey;
  border-radius: 20px;
  text-align: center;
  background-color: #fff;
  height: min-content;
  box-shadow: 0px 2px 40px 0px rgb(0 0 0 / 30%);
  top: 0;
}
.pricing-content-two h3 {
  font-size: 2rem;
}
.pricing-content-two p {
  font-size: 1.25rem;
  font-weight: 400;
}
.pricing-content-two h4 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.pricing-grid-three {
  margin-bottom: 0rem;
}

.pricing-content-three {
  padding: 2.5rem;
  margin: 1rem;
  border: 1px solid gray;
  border-radius: 20px;
  text-align: center;
  background-color: #fff;
  height: min-content;
  text-align: center;
}
.pricing-content-three h3 {
  font-size: 2rem;
}
.pricing-content-three p {
  font-size: 1.25rem;
  font-weight: 400;
}
.pricing-content-three h4 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}
.pricing-img-three {
  margin: 0rem auto;
  height: 90px;
  left: 0rem;
  right: 0rem;
}
/*confidence*/
.container-co {
  background-color: #e0f0e5;
}
.confidence {
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4.5rem;
  padding-top: 2.5rem;
}
.confidence h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.co {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
}
.co-p-one {
  font-weight: 600;
  font-size: 1rem;
}
.co-p-two {
  font-weight: 400;
  font-size: 1rem;
}
.container-co::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0%;
  top: -30px;
  width: 100%;
  height: 30px;
  background: inherit;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}
.container-co::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

/*header*/

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .pricing-grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 700px) {
  .footer {
    grid-template-columns: 4fr 2fr;
  }
  .footer-grid-two,
  .footer-grid-three,
  .footer-grid-four {
    text-align: left;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-grid-two,
  .footer-grid-three,
  .footer-grid-four {
    text-align: left;
  }
  .co {
    grid-template-columns: 1fr;
  }
}
